
variables:
  default_python_version: "3.8"

image: python:${default_python_version}

stages:
  - test
  - build
  - deploy

unittests python ${default_python_version}:
  stage: test
  except:
    - pages
  before_script:
    - pip install .
  script:
    - python -m unittest discover tests

unittests python 3.7:
  extends: unittests python ${default_python_version}
  image: python:3.7

flake8 checks python ${default_python_version}:
  stage: test
  except:
    - pages
  before_script:
    - pip install flake8
  script:
    - python -m flake8

flake8 checks python 3.7:
  extends: flake8 checks python ${default_python_version}
  image: python:3.7

mypy checks python ${default_python_version}:
  stage: test
  except:
    - pages
  before_script:
    - pip install . mypy
  script:
    - python -m mypy -p bdtsim

mypy checks python 3.7:
  extends: mypy checks python ${default_python_version}
  image: python:3.7

build packages:
  stage: build
  only:
    - tags
  script:
    - python setup.py sdist bdist_wheel
    - ls -lah dist/
  artifacts:
    paths:
      - dist/*.tar.gz
      - dist/*.whl

upload to PyPI:
  stage: deploy
  only:
    - tags
  before_script:
    - ls -lah dist/
    - pip install twine
  script:
    - twine upload --non-interactive dist/*

pages:
  stage: build
  only:
    - pages
  before_script:
    - pip install .
    - pip install mkdocs pdoc3
  script:
    - python -m mkdocs build -d public
    - pdoc3 --html --force -o public/api bdtsim
  artifacts:
    paths:
      - public
    expire_in: 1h
