# JetBrains PyCharm .gitignore:
# References:
# .idea/.gitignore
# - https://github.com/github/gitignore/blob/master/Global/JetBrains.gitignore
# - https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# project specific ignores
/.eggs/
/.mypy_cache/
/build/
/dist/
/public/
/venv/
__pycache__/
*.egg-info/
*.pyc
