
image: python:3.8

stages:
  - test
  - build
  - deploy
  - release

unittests:
  stage: test
  rules:
    - if: '$CI_COMMIT_BRANCH != "pages"'
    - if: $CI_MERGE_REQUEST_ID
  before_script:
    - pip install .
  script:
    - python -m unittest discover tests

unittests python 3.7:
  extends: unittests
  image: python:3.7

flake8 checks:
  stage: test
  rules:
    - if: '$CI_COMMIT_BRANCH != "pages"'
    - if: $CI_MERGE_REQUEST_ID
  before_script:
    - pip install flake8
  script:
    - python -m flake8

flake8 checks python 3.7:
  extends: flake8 checks
  image: python:3.7

mypy checks:
  stage: test
  rules:
    - if: '$CI_COMMIT_BRANCH != "pages"'
    - if: $CI_MERGE_REQUEST_ID
  before_script:
    - pip install . mypy
  script:
    - python -m mypy -p bdtsim

mypy checks python 3.7:
  extends: mypy checks
  image: python:3.7

build packages:
  stage: build
  rules:
    - if: '$CI_COMMIT_TAG != null'
  script:
    - python setup.py sdist bdist_wheel
    - ls -lah dist/
  artifacts:
    paths:
      - dist/*.tar.gz
      - dist/*.whl

upload to PyPI:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_TAG != null'
  before_script:
    - ls -lah dist/
    - pip install twine
  script:
    - twine upload --non-interactive dist/*

create release:
  image: registry.gitlab.com/gitlab-org/release-cli
  stage: release
  rules:
    - if: '$CI_COMMIT_TAG != null'
  script:
    - >
      release-cli create --name $CI_COMMIT_TAG --description "# Changelog$(cat CHANGELOG.md | awk '/## '$CI_COMMIT_TAG'/{flag=1;next}/##/{flag=0}flag')"
      --tag-name $CI_COMMIT_TAG --ref $CI_COMMIT_SHA
      --assets-links-name "Package Files on PyPI"
      --assets-links-url "https://pypi.org/project/bdtsim/$CI_COMMIT_TAG/#files"
  needs:
    - upload to PyPI

create docker image:
  stage: deploy
  rules:
    - if: '$CI_COMMIT_TAG != null'
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"gitlab-ci-token\",\"password\":\"$CI_JOB_TOKEN\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/Dockerfile --destination $CI_REGISTRY_IMAGE:${CI_COMMIT_TAG:1} --destination $CI_REGISTRY_IMAGE:latest

pages:
  stage: build
  rules:
    - if: '$CI_COMMIT_BRANCH == "pages"'
  before_script:
    - pip install .
    - pip install mkdocs pdoc3
  script:
    - python -m mkdocs build -d public
    - pdoc3 --html --force -o public/api bdtsim
  artifacts:
    paths:
      - public
    expire_in: 1h

include:
  - template: Dependency-Scanning.gitlab-ci.yml
  - template: SAST.gitlab-ci.yml
